/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: url(../images/cover-image-dark.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: var(--bg-color, #000028);
}

.header {
  height: 100vh;
  min-block-size: 668px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  position: relative;
  padding: 10px;
}

.header__rec {
  position: absolute;
  top: 10px;
  right: 20px;
  color: var(--pseudo-element-color, #ff0070);
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
}

.header__rec::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-left: 10px;
  border-radius: 50%;
  background-color: var(--pseudo-element-color, #ff0070);
  box-shadow: 0 0 4px 2px var(--pseudo-element-color, #ff0070);
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid var(--section-title-color, #ff0070);
}

.decorated-zone::before {
  top: 10px;
  right: 10px;
  border-left: none;
  border-bottom: none;
}

.decorated-zone::after {
  bottom: 10px;
  left: 10px;
  border-right: none;
  border-top: none;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.header__theme-menu-button {
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  padding: 4px 13px;
  border: 1px solid transparent;
  background: transparent;
  text-transform: lowercase;
  color: var(--section-title-color, #ff0070);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--hover-border-color, #ff007040);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end-color: currentColor;
}

.header__theme-menu-button_active {
  border-color: currentColor;
  pointer-events: none;
}

.footer__title,
.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.83;
  color: var(--title-color, #db00ff);
}

.header__title {
  text-shadow: 4px 4px 0 var(--title-shadow-color, #ff0070);
}

.header__text {
  justify-self: end;
  align-self: center;
  min-width: 50%;
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 700;
}

.title-decor {
  color: var(--article-heading-color, #000028);
  background-color: var(--accent-color, #ff0070);
}

.main {
  padding: 40px 10px;
  display: grid;
  gap: 50px;
}

.section {
  display: grid;
  gap: 20px;
}

.section__title {
  font-size: 18px;
  color: var(--section-title-color);
  font-weight: 700;
  line-height: 23.4px;
}

.section__article {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section__article-text {
  color: var(--text-color, rgba(241, 178, 206, 1));
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  padding-top: 10px;
}

.section-recommendation__article-title {
  font-size: 18px;
  font-weight: 400;
  height: 23px;
}

.section-gallery {
  display: grid;
  gap: 10px;
}

.section-gallery__image {
  width: 100%;
  height: auto;
}

.footer {
  display: flex;
  height: 100vh;
  min-block-size: 668px;
  position: relative;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.footer__title {
  text-shadow: 2px 2px 0 var(--article-heading-bg-color, #ff0070);
}

.link {
  text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
}

.content__link:hover {
  border-block-end: 2px solid currentColor;
}

.content__link:focus {
  padding: 4px;
  border: 1px solid currentColor;
}

@media (width >= 768px) {
  .footer__title,
  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem); /* Десктоп */
  }

  .header {
    padding: 20px;
  }

  .header__title {
    margin-left: -20px;
  }

  .header__text {
    width: 50%;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .header__rec {
    position: absolute;
    top: 20px;
    right: 30px;
  }

  .main {
    padding: 60px 20px;
    gap: 80px;
    grid-template-columns: 2;
    grid-template-rows: 2;
  }

  .section-focus,
  .section-recommendation {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .section__article {
    grid-column: span 2;
  }

  .section-concentration {
    display: grid;
    gap: 20px;
  }

  .section-concentration__title {
    inline-size: 30%;
  }

  .section-gallery {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-auto-flow: dense;
  }

  .section-gallery__title {
    block-size: min-content;
    grid-column: span 3;
  }

  .section-gallery__image {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }

  .section-gallery__image:first-of-type,
  .section-gallery__image:last-of-type {
    grid-column: span 2;
  }
  .section-gallery__image:nth-of-type(2),
  .section-gallery__image:nth-of-type(3) {
    grid-row: span 2;
  }

  .footer {
    padding: 20px;
  }
}

@media (width >= 1024px) {
  .footer__title,
  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem); /* Десктоп */
  }

  .section-concentration {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .section-concentration__title {
    grid-column: span 3;
  }

  .header__theme-menu {
    justify-self: center;
    align-items: start;
    height: 100%;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }
}
